.topFormat {

    font-size: 14pt;
    font-family: 'Roboto';
    font-weight: 500;
    float: right;
    border-radius: 6px;
    margin-top: 44px;
    padding-left: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 32px;
}

#logo {

    padding: 54px 0px 0px 70px;
    float: left;
}

#trial {

    border: 2px none;
    color: #86939e;
}

#buy {

    border: 2px solid #e1e8ee;
    margin-right: 70px;
    color: #86939e;
}

.titleStyle {

    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
}

#title {

    font-size: 45pt;
    letter-spacing: -3px;
    margin-bottom: 25px;
    padding-top: 100px;
    clear: both;
}

#description {

    font-size: 18.5pt;
    margin-bottom: 75px;

}

#contain {

    text-align: center;
    border-radius: 5px;
    border: 2px solid #e1e8ee;
    display: inline-block;
}

body div div {

    font-size: 14pt;
    font-family: 'Roboto';
    font-weight: 500;
    display: inline-block;
    color: #86939e;    
}

#buyButton1 {

    padding: 20px 15px 20px 30px;
}

#buyButton2 {

    padding: 20px 30px 20px 15px;
}

#break {

    color: #e1e8ee;
    font-size: 20pt;
    padding-right: 0px;
    padding-left: 0px;
}

/* Gradinet and Rounded Corners */
.graph-container, #tooltip, .graph-info a {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Graph Container */
.graph-container {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 20px;
 
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}
 
.graph-container > div {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 10px;
    left: 25px;
}
 
.graph-info {
    width: 590px;
    margin-bottom: 10px;
}